<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebcamJS - Captura Imagem</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }

        h2,
        h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }

        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>
</head>

<body class="container">
    <br />

    <div class="col-md-6 align-content-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="mac_camera"></div>
                <!-- botão para tirar foto -->
                <form>
                    <input id="btnTirarFoto" type="button" class="btn btn-success" value="Capturar Imagem" onClick="captura_imagem()">
                </form>
            </div>
        </div>
    </div>

    <!-- inclui a livraria javascript -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configura e anexa a camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 400,
            height: 300,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#mac_camera');
    </script>
    <!-- Codigo para tirar a foto e exibir localmente -->
    <script language="JavaScript">
        async function captura_imagem() {
            // tira a foto e obtem os dados da imagem
            Webcam.snap(function(data_uri) {
                Webcam.upload(data_uri, '/Login/CapturaImagem', function(code, data) {
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Index',
                        data: {
                            "filePath": data
                        },
                        async: true,
                        success: function(data) {
                            var id = JSON.parse(data);
                            console.log(id);
                            window.location.href = "/Home/Teste/" + id;
                        },
                        error: function(xhr, status, error) {
                            alert(error);
                        }
                    })
                })
                Webcam.reset();
                Webcam.off();
            });

            var btn = document.querySelector("#btnTirarFoto");

            btn.disabled = true;
        };


    </script>
</body>

</html>